.container {
    height: 75pc;
    border: solid 3px #000;
    margin: auto;
    width: 60%;
    background-image: linear-gradient(to right, #e6e6e6,#b3b3b3);
    box-shadow: 5px 10px 18px #888888;
}

.conTitulo {
    height: 10pc;
    border: solid 2px #000;
    background-image: linear-gradient(#8c8c8c,#b3b3ff);
}

.titulo {
    margin: 5%;
    font-family: "Times New Roman";
    color: #003399;
    font-size: 5pc;
}
.flex-container {
    display: flex;
    background-image: linear-gradient(#b3b3ff,#8080ff);
    border: solid 3px #000;
}
.flex-container > div {
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}
.botao {
    font-size: 2pc;
    font-family: "Times New Roman";
    width: 22.5pc;
    cursor: pointer;
}
.paragrafo {
    font-family: "Times New Roman";
    font-size: 2pc;
    text-align: center;
}
.updates {
    height: 30pc;
    border: solid 3px #000;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(#b3b3ff,#8080ff);
    box-shadow: 5px 10px 18px #888888;
}
.paragrafo2 {
    font-family: "Times New Roman";
    font-size: 3pc;
    text-align: center;
    margin: 5%;
}
.version {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 2pc;
    color: green;
    background-color: #b3ffb3;
    border: solid 2px #000;
}
